<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>
    <h1>Hausrat</h1>
</p>

<div th:if="${ not#lists.isEmpty(stocks)}">
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Beschrieb</th>
            <th>Preis</th>
            <th>Haltbarkeit</th>
            <th>Anschaffungsdatum</th>
            <th>Garantie</th>
            <th>Typ</th>
            <th>Marke</th>
        </tr>
        <tr th:each="stock : ${stocks}">
            <td th:text="${stock.id}"></td>
            <td th:text="${stock.name}"></td>
            <td th:text="${stock.description}"></td>
        </tr>
        </table>
    </div>
</body>
</html>